<div class="flex flex-wrap items-center justify-center">
      <div
        class="flex bg-green-300/40 text-sm hover:bg-blue-400 text-blue-50 h-36 w-72 p-6 m-1 rounded-md"
      >
        <img src="/assets/icons/add.svg" class="h-2/6 w-2/6" alt="eye" />
        <p class="m-2">Ajouter des livres à votre pile à lire pour suivre votre flow de lecture</p>
      </div>
      <div
        class="flex bg-green-300/40 text-sm hover:bg-green-400 text-blue-50 h-36 w-72 p-6 m-1 rounded-md"
      >
        <img src="/assets/icons/icon-check.svg" class="h-2/6 w-2/6" alt="eye" />
        <p class="m-2">Recenser les livres que vous avez lus et le faire savoir à la communauté</p>
      </div>
      <div
        class="flex bg-green-300/40 text-sm hover:bg-green-400 text-blue-50 h-36 w-72 p-6 m-1 rounded-md"
      >
        <img src="/assets/icons/comments.svg" class="h-2/6 w-2/6" alt="eye" />
        <p class="m-2">Ajouter des commentaires concernant et des notes sur les livres que vous avez
          aimés (ou pas)</p>
      </div>
      <div
        class="flex bg-green-300/40 text-sm hover:bg-amber-400/40 text-blue-50 h-36 w-72 p-6 m-1 rounded-md"
      >
        <img src="/assets/icons/list.svg" class="h-2/6 w-2/6" alt="eye" />
        <p class="m-2">Créer des listes selon vos envies pour y ranger vos livres préférés par
          thèmes</p>
      </div>
      <div
        class="flex bg-green-300/40 text-sm hover:bg-green-400/50 text-blue-50 h-36 w-72 p-6 m-1 rounded-md"
      >
        <img src="/assets/icons/members.svg" class="h-2/6 w-2/6" alt="eye" />
        <p class="m-2">Suivre vos amis pour être au courant de leur activité de lecture sur bookPals</p>
      </div>
      <div
        class="flex bg-green-300/40 text-sm hover:bg-amber-800 text-blue-50 h-36 w-72 p-6 m-1 rounded-md"
      >
        <img src="/assets/icons/favorites-list.svg" class="h-2/6 w-2/6" alt="eye" />
        <p class="m-2">Partager vos meilleures recommandations dans LA liste dont le thème change
          tous les mois</p>
      </div>
    </div>