<div class="flex flex-row p-6 pt-28 top-20 justify-between my-14">
  <div class="flex flex-col m-16 flex-2">
    {{#each this.serializedArray as |book|}}
      <Books @book={{book}} />
      <hr class="my-6" />
    {{/each}}
    {{#if (gt @model.length this.actualCount)}}
      <button
        type="button"
        class="h-9 w-28 bg-gray-400/40 mx-60 mt-5 p-2 box-border hover:bg-blue-300/40 rounded"
        {{on "click" this.viewMore}}
      >
        <span class="text-center text-yellow-50 text-base">Voir plus</span>
      </button>
    {{/if}}
  </div>
  <div class="flex flex-col p-10 min-w-80 m-10 flex-1 capitalize text-justify">
    <h3 class="uppercase m-2">Résultats pour : </h3>
    <hr />
    <p class="m-3">Tout</p>
    <p class="m-3">Livres</p>
    <p class="m-3">Listes</p>
    <p class="m-3">Utilisateurs</p>
  </div>
</div>