<div class="bg-background min-w-96 min-h-96">
    <Header/>
    <div class="background_image" >
    </div>
    <div class="linear-fade"></div>
    <div class="mt-4 p-5">
        <h2 class="text-center">Bienvenue sur bookPals</h2>
        <p class="text-center text-base">Votre communauté favorite de lecteurs</p>
    </div>
    <section id="topbooks" class="flex flex-row flex-wrap p-10">
        {{#each  this.topBooks as |book|}}
          <Cards::Base @book={{book}} @addStyle="h-40 w-40 m-10"/>
        {{/each}}
    </section>
    <section id="toplists">

    </section>
</div>