<div class=" bg-text opacity-50 w-full h-full">
    <span class="loading loading-ring loading-xs text-amber-800"></span>
    <span class="loading loading-ring loading-sm text-amber-800"></span>
    <span class="loading loading-ring loading-md text-amber-800"></span>
    <span class="loading loading-ring loading-lg text-amber-800"></span>
</div>