<Pages::Profile::Messages @model={{this.model}}>
    <div class="flex flex-row p-1 m-2 bg-[#967960a5] rounded-md border-l-4 border-amber-700">
    
    <div class="flex flex-col truncate">
        <p class=" font-thin max-w-fit cursor-pointer"> {{this.otherUser.username}}
        </p>
        <p class="text-sm text-white italic m-auto">Vous : </p>
    </div>
</div>
</Pages::Profile::Messages>