<div class="bg-background w-full">
    <div class="linear-fade">
        <img src="/assets/images/belle_reading.jpg" alt="Belle reading" class="w-full">
    </div>
    <div>
        <h2>Bienvenue sur bookPals</h2>
        <p>Votre communauté favorite de lecteurs</p>
    </div>
    <section id="topbooks">

    </section>
    <section id="toplists">

    </section>
</div>