<div class="bg-background min-w-96 min-h-96">
    <Header/>
    <div class="bg-[url('https://static1.srcdn.com/wordpress/wp-content/uploads/2022/03/Belle-in-Beauty-and-the-beast-1991-reading-a-book-to-sheep-animation.jpg')] min-w-full min-h-lvh bg-no-repeat bg-cover" >
    </div>
    <div class=" bg-gradient-to-br from-[#291a1a90] to-[#291a1a] -mt-28 h-40 w-full"></div>
    <div class="mt-4 p-5">
        <h2 class="text-center">Bienvenue sur bookPals</h2>
        <p class="text-center text-base">Votre communauté favorite de lecteurs</p>
    </div>
    <section id="topbooks" class="flex flex-row flex-wrap p-10">
        {{#each  this.topBooks as |book|}}
          <Cards::Base @book={{book}} @addStyle="w-80 h-80 m-10"/>
        {{/each}}
    </section>
    <section id="toplists">

    </section>
</div>